h2{
	text-align:center;
	padding:10px;
	background-color:#48a7b7;
	top:10px;
 }

 

.container{
	width:1290px;
	margin:auto;
	
}
.introduction{
	padding-top:300px;
	text-align:center;
}
#header a{
	text-decoration:none;
	font-size:80px;
	padding:10px 40px;
	border:2px solid white;
	color:white;
}
#header a:hover{
	background-color:#46464b;
	color:#F7F6F8;
}


